.produto-cart-box {
    border: 1px solid #e9e9e9;
    padding: 10px;
    display: flex;
    margin: 20px;
}

.produto-cart-box img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.produto-cart-nome {
    margin: 10px 3px 0px 0px;
}

.produto-cart-valor {
    color: #929292;
    font-size: 0.8rem;
    margin: 0px 3px 10px 0px;
}

.footer-product-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 70px;
}

.footer-product-btn {
    border: 1px solid #cacaca;
    padding: 8px 12px;
    border-radius: 0px;
    background-color: #fff;
    cursor: pointer;
}

.footer-product-qtd {
    margin-left: 7px;
    margin-right: 7px;
}

.footer-product-preco{
    color: #e84f3d;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1rem;
}